<mat-table [dataSource]="heroes" class="mat-elevation-z6">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell
      *matCellDef="let row"
      routerLink="/list/{{ row.id }}"
      class="heroes"
    >
      {{ row.id }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell
      *matCellDef="let row"
      routerLink="/list/{{ row.id }}"
      class="heroes"
    >
      {{ row.name }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="matHeaderRowDef"></mat-header-row>
  <mat-row *matRowDef="let row; columns: matHeaderRowDef"></mat-row>
</mat-table>
