
<mat-toolbar color="primary" class="mat-elevation-{{ elevation }}">
  <span
    class="app-name"
    routerLink="/dashboard"
  >
    {{ title }}
  </span>
  <span fxFlex></span>
  <button
    *ngFor="let item of menuItems"
    mat-icon-button
    aria-label="Heroes list"
    [routerLink]="item.link"
    [matTooltip]="item.tooltipText"
  >
    <mat-icon>{{ item.icon }}</mat-icon>
  </button>
  <!-- <button
    mat-icon-button
    aria-label="Dashboard"
    routerLink="/dashboard"
    matTooltip="Dashboard"
  >
    <mat-icon>dashboard</mat-icon>
  </button> -->
</mat-toolbar>
