.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;

  & .imagem {

    border-radius: 50%;
  }

  & .card-hero {
    max-width: 400px;
    margin-bottom: 8px;
    cursor: pointer;
  }
}

